<h1 class="mt-4">Resumo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Essa pagina traz uma lista de informações resumidas do site</li>
</ol>
<div class="row">
    <div class="col-xl-4">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de compras 2024</div>
            <div class="card-body"><app-grafico-um></app-grafico-um> 
                     
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de compras 2024</div>
            <div class="card-body">
                     
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de gastos 2024</div>
            <div class="card-body">
                
                    
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de compras 2024</div>
            <div class="card-body">
                     
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de gastos 2024</div>
            <div class="card-body">
                
                    
            </div>
        </div>
    </div>
</div>

