<h1 class="mt-4">Resumo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Essa pagina traz uma lista de informações resumidas do site</li>
</ol>


<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
		<div class="row text-center">
	        <div class="col">
	        <div class="counter">
      <i class="fa fa-code fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="100" data-speed="1500">100</h2>
       <p class="count-text ">Pregoes Realizados</p>
    </div>
	        </div>
              <div class="col">
               <div class="counter">
      <i class="fa fa-coffee fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="1700" data-speed="1500">650</h2>
      <p class="count-text ">Objetos adquiridos</p>
    </div>
              </div>
              <div class="col">
                  <div class="counter">
      <i class="fa fa-money fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="11900" data-speed="1500">1.535.625,00</h2>
      <p class="count-text ">Valor disponivel</p>
    </div></div>
              <div class="col">
              <div class="counter">
      <i class="fa fa-bug fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="157" data-speed="1500">12.000.000,00</h2>
      <p class="count-text ">Valor gasto</p>
    </div>
              </div>
         </div>
</div>
<br><br>
<div class="row">
    <div class="col-xl-4">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de compras 2024</div>
            <div class="card-body">
                <app-grafico-um></app-grafico-um> 
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de compras 2024</div>
            <div class="card-body">
                <app-graficos-dois></app-graficos-dois>    
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de gastos 2024</div>
            <div class="card-body">
                <app-grafico-tres></app-grafico-tres>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de compras 2024</div>
            <div class="card-body">
                     
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Gráfico de gastos 2024</div>
            <div class="card-body">
                
                    
            </div>
        </div>
    </div>
</div>

